RVMExample.xcworkspace/contents.xcworkspacedata
RVMExample.xcworkspace/xcuserdata/edl00k.xcuserdatad/WorkspaceSettings.xcsettings
RVMExample.xcworkspace/xcuserdata/edl00k.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
